@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
:root {
  --clr-bg: #ffffff;
  --clr-bg-darker-blue: #1B212F;
  --clr-bg-blue: #5A7FFB;
  --clr-txt-primary: #ffffff;
  --clr-txt-secondary: #767683;
  --clr-txt-third: #2d2e32;
  --clr-txt-accent: #64abff;
  --clr-txt-accent-2: #147efb;
  --clr-txt-work-p: #BEBEBE;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: var(--clr-bg);
  margin: 0;
  font-family: 'Rubik', sans-serif;
}
body header{
  position: sticky; top: 0;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.625rem;
}
h1,h2,h3,h4,p{
  margin: 0;
}
